html, body {
    height: 100%; margin: 0px;
}

body {
    background-color: rgba(253, 19, 32, 0); font-family: Helvetica; font-size: 12pt;
}

#container {
    display: block; position: absolute; bottom:0; top:0; left:0; right:0; margin: 8px; height: 90%; overflow-y: scroll;
}

#msgContainer {
    position: absolute; top: 50px; bottom: 45px; background-color: white; width: 100%; padding-left: 220px; height: 50%;
}

#msgContainer .msgrow {
    background-color: #337ab7;
    color: white;
    font-weight: bold;
    margin: 2px 0px 2px 0px;
    padding: 6px;
    border-radius: 12px;
    border: 1px solid;
}

#msgController {
    position: fixed; bottom: 0px; height: 40px; display: flex; width: 100%; padding-left: 220px;
}

#loginPanel {
    width: 300px; padding: 5px; margin: 10px auto;
}

#loginPanel #infoLabel {
    color: green; text-align: center;
}

#loginPanel .loginInput {
    width: 100%; border-radius: 6px; margin: 3px 0px;
}